globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

args:
  - "--accesslog=true"
  - "--accesslog.filepath=/var/log/traefik/access.log"


additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"
  - "--entrypoints.websecure.forwardedHeaders.insecure=true"
  - "--entrypoints.web.forwardedHeaders.insecure=true"
  - "--entrypoints.websecure.proxyProtocol.insecure=true"
  - "--entrypoints.web.proxyProtocol.insecure=true"

deployment:
  enabled: true
  replicas: 1
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

  # ─── ADDING AFFINITY FOR NODE SPREAD ───
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - jaime
                  - tyrion

    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - traefik
          topologyKey: "kubernetes.io/hostname"

ports:
  web:
    redirections:
      entrypoint:
        to: websecure
        priority: 10
  websecure:
    http3:
      enabled: true
    advertisedPort: 443
    tls:
      enabled: true


providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false

kubernetes:
  crd:
    enabled: true

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 10.0.10.110 # this should be an IP in the MetalLB range
  loadBalancerSourceRanges: []
  externalIPs: []

logs:
  enabled: true
  service:
    enabled: false
  persistence:
    enabled: true
    name: traefik-logs
    path: /var/log/traefik
    size: 2Gi
